<div class="container">
    <div class="row flex-nowrap" style="overflow-x: scroll;">
        <div class="col mr-0 flex-shrink-0">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="card-title">315</h2>
                            <p class="card-text">Students</p>
                        </div>
                        <div class="col chart">
                            <mat-icon aria-hidden="false" aria-label="school icon" class="material-icons-sharp">school</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mr-0 flex-shrink-0">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="card-title">35</h2>
                            <p class="card-text">Teachers</p>
                        </div>
                        <div class="col chart">
                            <mat-icon aria-hidden="false" aria-label="work icon" class="material-icons-sharp">work</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mr-0 flex-shrink-0">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="card-title">5</h2>
                            <p class="card-text">Sessions</p>
                        </div>
                        <div class="col chart">
                            <mat-icon aria-hidden="false" aria-label="setting icon" class="material-icons-sharp">insights</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mr-0 flex-shrink-0">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="card-title">15</h2>
                            <p class="card-text">Exams</p>
                        </div>
                        <div class="col chart">
                            <mat-icon aria-hidden="false" aria-label="edu icon" class="material-icons-sharp">history_edu</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mr-0 flex-shrink-0">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="card-title">25</h2>
                            <p class="card-text">Subjects</p>
                        </div>
                        <div class="col chart">
                            <mat-icon aria-hidden="false" aria-label="setting icon" class="material-icons-sharp">book</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>