<div class="container-fluid">
    <form [formGroup]="sessionClassForm" (ngSubmit)="generateStudents()">
        <div class="row">
            <!-- Session Select -->
            <div class="col-md-3 pe-md-0">
                <mat-form-field appearance="outline" class="ys-form-field">
                    <mat-label>Session</mat-label>
                    <mat-select formControlName="session" required>
                        <mat-option value="2017-2018">2017/2018</mat-option>
                        <mat-option value="2018-2019">2018/2019</mat-option>
                        <mat-option value="2019-2020">2019/2020</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Class select -->
            <div class="col-md-3 ps-md-0">
                <mat-form-field appearance="outline" class="ys-form-field">
                    <mat-label>Class</mat-label>
                    <mat-select formControlName="class" required>
                        <mat-option value="ss3a">SS3A</mat-option>
                        <mat-option value="ss3b">SS3B</mat-option>
                        <mat-option value="ss3c">SS3C</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Spacer -->
            <div class="col-md"></div>
            <!-- Generate Botton -->
            <div class="col-md-2">
                <button mat-raised-button color="primary" type="submit" style="float: right;"
                    [disabled]="!sessionClassForm.valid">
                    Generate
                </button>
            </div>
        </div>
    </form>

    <!-- Filter and Add row -->
    <div class="row row-search">
        <!-- Filter control -->
        <div class="col-md-6">
            <mat-form-field class="ys-form-field">
                <mat-label>Search</mat-label>
                <input matInput type="search" (keyup)="applyFilter($event)" placeholder="Search...">
                <mat-icon matSuffix class="material-icons-sharp">search</mat-icon>
            </mat-form-field>
        </div>
        <!-- Filter lexbel -->
        <div class="col-3">
            <h3 class="font-weight-bold w-100 text-truncate">Filtered by: <b>{{ filterValue }}</b></h3>
        </div>
        <div class="col-md-3">
            <button mat-raised-button color="primary" class="ys-btn-add" style="float: right;" (click)="openAddStudentDialog()">
                <mat-icon matSuffix class="material-icons-sharp">add</mat-icon>
                Register Student
            </button>
        </div>
    </div>
    <!-- student table -->
    <div class="ys-table-container mat-elevation-z8">
        <div class="ys-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="ys-rate-limit-reached" *ngIf="isRateLimitReached">
                Students' API rate limit has been reached. It will be reset in one minute.
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            
                <!-- regNo Column -->
                <ng-container matColumnDef="regNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RegNo. </th>
                    <td mat-cell *matCellDef="let element"> {{element.regNo}} </td>
                </ng-container>
            
                <!-- firstname Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>
            
                <!-- secondname Column -->
                <ng-container matColumnDef="secondName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Second Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
                </ng-container>
            
                <!-- lastname Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>
            
                <!-- gender Column -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <!-- End Student table -->
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="2" [pageSizeOptions]="[2, 3]" showFirstLastButtons></mat-paginator>
    </div>
</div>